<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rafael Oliveira</title>
</head>
<body>
    <form action="Rafael-ai13/flores" method="post">
        <label for="comprimento sépala">comprimento sépala (cm):</label>
        <input type="number" id="largura sépala" name="comprimento_sepala" step="0.01" required><br><br>

        <label for="largura sépala">largura sépala (cm):</label>
        <input type="number" id="largura sépala" name="largura_sepala" step="0.01" required><br><br>

        <label for="comprimento pétala">comprimento pétala (cm):</label>
        <input type="number" id="comprimento pétala" name="comprimento_petala" step="0.01" required><br><br>

        <label for="largura pétala">largura pétala (cm):</label>
        <input type="number" id="largura pétala" name="largura_petala" step="0.01" required><br><br>

        <button type="submit">Enviar</button>
  </form>
</body>
</html>